EssentialFeed/EssentialFeed.xcodeproj/xcshareddata/xcschemes/EssentialFeed.xcscheme
EssentialFeed/EssentialFeed.xcodeproj/xcshareddata/xcschemes/EssentialFeedTests.xcscheme
UserInterfaceState.xcuserstate
IDEFindNavigatorScopes.plist
